:root {
    --primary-color: #2c3e50; /* Dark blue */
    --secondary-color: #ecf0f1; /* Light gray */
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 20px;
}

body > div {
    border: 5px solid var(--primary-color);
    margin: auto;
    width: 800px;
    padding: 10px;
}

header, footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;

}

nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
}

main {
    padding: 20px 60px;
    display: flex;
    flex-wrap: wrap;
}

section {
    margin-bottom: 30px;
    width: 40%;
    margin: 10px;
}

section ul {
    padding: 0px;
    margin-left: 15px;
}

section ul li {
    margin-bottom: 4px;
    padding: 0px;
}

main section:nth-child(odd) {
   margin-right: 40px;
}

main section:nth-child(even) {
   margin-left: 40px;
}

footer {
    padding: 10px 20px;
}

footer > p::before {
    content: "\00A9\0020"; /** copyright **/
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}
