:root {
    --primary-color: #2c3e50; /* Dark blue */
        --secondary-color: #ecf0f1; /* Light gray */
}

body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding-top: 10;
}

body > div {
    border: 5px solid var(--primary-color);
    margin: auto;
    width: 900px;
    padding: 10px;
}

header, footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
}

main {
    padding: 20px 60px;
    display: flex;
    flex-wrap: wrap;
}

section {
    margin-bottom: 30px;
    width: 40%;
    margin: 10px;
}

main section:nth-child(odd) {
   margin-right: 40px;
}

main section:nth-child(even) {
   margin-left: 40px;
}

footer {
    padding: 10px 20px;
}

/* Animation styles */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}
